@charset "UTF-8";

/*#2eca6a*/
/* CSS Document */
header {
	padding: 0.8em;
	color: #FFF;
	font-size: 150%;
	text-align: center;
	background: #59b1eb;
}

header, .back {
	margin-bottom: 6rem;
}

#contents {
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.ad {
	text-align: center;
	border: 1px dotted #ccc;
	max-width: 780px;
	margin: 0 auto 6rem;
}

a.btn {
	background: #2eca6a;
	color: #fff;
	border: none;
	position: relative;
	/*height: 60px;*/
	font-size: 108%;
	padding: .6em 1em;
	transition: 800ms ease all;
	outline: none;
}

a.btn:hover {
	background: #fff;
	color: #2eca6a;
}

a.btn:before, a.btn::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #2eca6a;
	transition: 400ms ease all;
}

a.btn::after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

a.btn:hover:before, a.btn:hover::after {
	width: 100%;
	transition: 800ms ease all;
}

.js-load {
	display: none;
}

.js-load.active {
	display: block;
}

.is_comp.js-load:after {
	display: none;
}

.btn-wrap, .lists, .main {
	display: block;
}

.main {
	max-width: 640px;
	margin: 0 auto;
}

.lists {
	
	margin-bottom: 4rem;
}

.lists__item {
	padding: 20px;
	background: #EEE;
	border-top:2px solid green;
	border-radius: 30px;
}

.lists__item:nth-child(2n) {
	background: #EEE;
}

.btn-wrap {
	text-align: center;
}

.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 50px;
	margin-bottom: 4rem;
}

.button:hover {
	background-color: #fff;
	border-color: #2eca6a;
	color: #2eca6a;
}

.button::before, .button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}

.button, .button::before, .button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button::before {
	right: 0;
}

.button::after {
	left: 0;
}

.button:hover::before, .button:hover::after {
	width: 0;
	background-color: #2eca6a;
}

footer {
	padding: 1rem;
	font-size: 83%;
	text-align: center;
}

footer a {
	color: #666;
	font-weight: bold;
}

footer a:hover {
	color: #59b1eb;
	text-decoration: underline;
}

#Img_carousel{
	overflow:hidden;
}
/*
#btn_write {
	background: #2eca6a;
	color: #fff;
	border: none;
	position: relative;
	font-size: 108%;
	padding: .6em 1em;
	transition: 800ms ease all;
	outline: none;
}

#btn_write:hover {
	background: #fff;
	color: #2eca6a;
	border: 2px solid green;
	transition: 200ms ease all;
	
}
*/