<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mycom.ojo.MemberMapper">
	<insert id="regist">
		insert into
			members(uid,pwd,name,phone,gender,profile,email,approval_status,approval_key)
		values
			(#{uid},#{pwd},#{name},#{phone},#{gender},#{profile},#{email},0,#{approval_key})
	</insert>
	
	<!-- Checking  Duplicated ID -->
	<select id="check_id" resultType="kr.mycom.ojo.model.MemberVo">
	 	select uid from members where uid = #{uid}
	</select>
	
	<!-- User Approval -->
	<update id="approval_member">
	update members set approval_status = 1 where email=#{email} and approval_key = #{approval_key}
	</update>
	
	<!-- Checking Approval member -->
	<select id="approved" resultType="int">
		select approval_status from members where approval_key = #{approval_key}
	</select>
	
	<!-- Finding ID  -->
	<select id="searchId" resultType="String">
		select
			uid
		from members
		where email = #{email} and name= #{name}		
	</select>
	<!-- Finding Password -->
 	<update id="updatepw">
		update members
		set
		pwd = #{pwd} where uid=#{uid} and email = #{email}			
	</update>
 
	<select id="login" resultType="kr.mycom.ojo.model.MemberVo">
		select
			*
		from
			members
		where
			uid = #{uid} and pwd = #{pwd}
	</select>
	

	<update id="update">
		update members
		set
			pwd= #{pwd}, name= #{name}, phone = #{phone}, gender= #{gender},
			profile = #{profile},email = #{email}
		where
			uid = #{uid}
	</update>

	<delete id="withdrawal">
		delete from members
		where
			uid=#{uid} and pwd=#{pwd}
	</delete>

	<!-- alert 경고 대상 인지 -->
	<select id="alert" resultType="int">
	select
			count(alert)
	from
		members
	where ucode = #{ucode} and alert=1;
	</select>
</mapper>